<div id="container">

  <div id="text-container">
    <div id="text-preview">
      <p class="live-text"></p>
    </div>
    <div class="text-input input">
        <%= form_tag("/posts", :class => "button", method: "post", :id => "done") do %>
        <input type="text" name="input" class="input-box mousetrap" placeholder="Tell me, baby, what's your story?"></input>
        <div class="buttons-input">
          <button id="redo">Redo</button>
          <button id="play">Play</button>
          <%= submit_tag "Done" %>
        <!-- <button id="done">Done</button> -->
        </div>
      <% end %>
    </div>
  </div>

  <svg id="canvas">
  </svg>


</div>
