<div id="container">

  <div id="text-container">
    <div id="text-preview">
      <p class="live-text"></p>
    </div>
    <div class="text-input input">
      <input type="text" class="input-box mousetrap" placeholder="Tell me, baby, what's your story?"></input>
      <div class="buttons-input">
        <button id="redo">Redo</button>
        <button id="play">Play</button>
        <button id="done">Done</button>
      </div>
    </div>
  </div>

  <div id="canvas">
  </div>


</div>
